<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="navbar-title">Sistema de Incidentes</span>

  <span class="navbar-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="userMenu" class="user-button">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu" xPosition="before">
    <div class="user-menu-header">
      <mat-icon class="user-avatar">account_circle</mat-icon>
      <div class="user-info">
        <p class="user-name">{{ currentUser?.fullName || currentUser?.firstName + ' ' + currentUser?.lastName || 'Usuario' }}</p>
        <p class="user-email">{{ currentUser?.email || '' }}</p>
      </div>
    </div>

    <mat-divider></mat-divider>

    <button mat-menu-item (click)="goToProfile()">
      <mat-icon>person</mat-icon>
      <span>Mi Perfil</span>
    </button>

    <button mat-menu-item [routerLink]="['/profile/edit']">
      <mat-icon>edit</mat-icon>
      <span>Editar Perfil</span>
    </button>

    <button mat-menu-item [routerLink]="['/profile/change-password']">
      <mat-icon>lock</mat-icon>
      <span>Cambiar Contraseña</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar Sesión</span>
    </button>
  </mat-menu>
</mat-toolbar>
